# Python temporary and environment files
__pycache__/
*.pyc
env/
venv/
.env

# PlatformIO temporary build caches
.pio/
.clang_complete
.gcc-flags.json
.provider_cache

# Android Studio local files
.gradle/
build/
local.properties
*.iml
.idea/

# OS Specific files
.DS_Store
Thumbs.db

# Local hardware and mobile credential files
firmware/src/secrets.h
android_app/app/src/main/java/com/example/environmentalmonitor/network/Config.kt

